
html{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
body {
  background-color:#DDDDDA;
    background-image:url("https://www.agcoombs.com.au/wp-content/uploads/2020/06/AGC_75years_Logo_Full.png");
    background-position: right top left;
    background-size: 20%;
    background-repeat:no-repeat;background-attachment:fixed;
    
    
}
header {
    text-align: center; 
    font-weight: bold;
    font-size: 50px;

}
h2 {
    text-align: center;
}
h4{
    font-size: 26px;
}
p {
    font-size: 20px;
}

.links-button {
    
    color: rgba(226, 117, 28, 0.884);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 180%;
    padding: 30px;
}
.links-button:hover {
color:whitesmoke;
}
.links-button:active {
color: rgb(32, 218, 63);
}
.menu-button {
    
    color: rgba(226, 117, 28, 0.884);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 100%;
    padding: 30px;
}
.menu-button:hover {
color:whitesmoke;
}
.menu-button:active {
color: rgb(32, 218, 63);
}
#content {
    position: relative;
}
#content img {
    position: right;
    top: 0px;
    right: 0px;
}
.mytext {
    height: 20px;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: orangered;
}
#HCB_comment_box blockquote {
    color: black;
    font-size: large;
  }

