
html{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
body {
  background-color:#DDDDDA;
}
header {
    text-align: center; 
    font-weight: bold;
    font-size: 50px;

}
h2 {
    text-align: center;
}

.links-button {
    
    color: rgba(226, 117, 28, 0.884);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 180%;
    padding: 30px;
}
.links-button:hover {
color:whitesmoke;
}
.links-button:active {
color: blue;
}
.menu-button {
    
    color: rgba(226, 117, 28, 0.884);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 100%;
    padding: 30px;
}
.menu-button:hover {
color:whitesmoke;
}
.menu-button:active {
color: blue;
}
#content {
    position: relative;
}
#content img {
    position: right;
    top: 0px;
    right: 0px;
}
.mytext {
    height: 20px;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: orangered;
}
.calc {
    height: 28px;
    border-radius: 15px;
    border-color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bolder;
    background-color:rgba(226, 117, 28, 0.884);

}

