
html{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
body {
  background-color:#DDDDDA;
    background-image:url("https://www.agcoombs.com.au/wp-content/uploads/2020/06/AGC_75years_Logo_Full.png");
    background-size: 15%;
    background-repeat:no-repeat;background-attachment:fixed;background-position-x: 0.4cm;  background-position-y: 0.85cm;
}
header {
    text-align: center; 
    font-weight: bold;
    font-size: 50px;

}
h2 {
    text-align: center;
}
h4{
    font-size: 26px;
}
p {
    font-size: 24px;
}

.links-button {
    
    color: rgba(226, 117, 28, 0.884);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 180%;
    padding: 30px;
}
.links-button:hover {
color:whitesmoke;
}
.links-button:active {
color: rgb(32, 218, 63);
}
.topnav {
    left: 0;
    right: 0;
    }
.menu-button {
    
    color: rgb(114, 56, 148);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 130%;
    padding: 30px;
    text-decoration: none;
    border-bottom: 3px solid transparent
}
.menu-button:hover {
color:whitesmoke;
}
.menu-button:active {
color: rgb(32, 218, 63);
}

#HCB_comment_box blockquote {
    color: black;
    font-size: 18px;
  }

