
html{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
body {
  background-color:#DDDDDA;
    background-image: url("../hvachublogo.png");
    background-size: 7%;
    background-repeat:no-repeat;background-position-x: left;  background-position-y: top;
    overflow-x: hidden;
    text-align: center;;
}
header {
    text-align: center; 
    font-weight: bold;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;

}
h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
h4{
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}
p {
    font-size: 24px;
}
.valvetype {
    display: flex;
    
    position: absolute;
    left: 135px;
    text-align: center;
 

}
.form-control-lg {
   height: 50px;
   width: 250px;
}
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: coral;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}
.nav a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: whitesmoke;
}
.nav a:hover {
    color:  rgb(0, 1, 8);
    transition: 0.4s;
}
.nav .close{
    position: absolute;
    top: 0;
    right: 50px;
    margin-left: 30px;
    font-size: 30px;
}
.slide a {
    position: fixed;
    font-size: 60px;
    left: 15px;
    color: black;
}
#content {
    position: absolute;
    transition: 0.7s;
    overflow-x: hidden;
    width: 100%;    
}
.knowledgedescriptor{
    font-size: 18px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.decoupler {
    font-size:18px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.links-button {
    
    color: rgba(226, 117, 28, 0.884);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 150%;
    padding: 30px;
}
.links-button:hover {
color:whitesmoke;
}
.links-button:active {
color: rgb(32, 218, 63);
}

#HCB_comment_box blockquote {
    color: black;
    font-size: 18px;
  }

  #answer, 
#answer-1,
#answer-2,
#answer-3,
#answer-4,
#answer-5,
#answer-6,
#answer-7,
#kvanswer {
    color: #D93A32;
    font-weight: bolder;

}
.mytext {
    height: 40px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: orangered;
}
.calc {
    height: 40px;
    border-radius: 15px;
    border-color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bolder;
    background-color:rgba(226, 117, 28, 0.884);

}
.calc:hover {
    background-color: rgb(32, 218, 63);
}
.calculatorcom {
    text-decoration: underline;
}
.submit {
    padding-left: 5px;
    border-radius: 10px;
    border-color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bolder;
    background-color:rgba(226, 117, 28, 0.884);

}
.submit:hover {
    background-color: rgb(32, 218, 63);
}


