
html{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
body {
  background-color:#DDDDDA;
    background-image: url("../hvachublogo.png");
    background-size: 7%;
    background-repeat:no-repeat;background-position-x: left;  background-position-y: top;
    
}
header {
    text-align: center; 
    font-weight: bold;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;

}
h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
h4{
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}
p {
    font-size: 24px;
}
.knowledgedescriptor{
    font-size: 18px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.decoupler {
    font-size:18px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.links-button {
    
    color: rgba(226, 117, 28, 0.884);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 180%;
    padding: 30px;
}
.links-button:hover {
color:whitesmoke;
}
.links-button:active {
color: rgb(32, 218, 63);
}
.topnav {
    left: 0;
    right: 0;
    }
.menu-button {
    
    color: rgb(114, 56, 148);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 130%;
    padding: 30px;
    text-decoration: none;
    border-bottom: 3px solid transparent
}
.menu-button:hover {
color:whitesmoke;
}
.menu-button:active {
color: rgb(32, 218, 63);
}

#HCB_comment_box blockquote {
    color: black;
    font-size: 18px;
  }

