
html{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

body {
  background-color:#DDDDDA;
  text-align: center;
}
header {
    text-align: center; 
    font-weight: bolder;
}

h1 {
    font-weight: bolder;
    text-align: center;

}
h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.ribbon {
    font-weight: 900px;
}
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: coral;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}
.nav a {
    display: block;
    padding: 20px 30px;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: whitesmoke;
}
.nav a:hover {
    color: rgb(0, 1, 8);
    transition: 0.4s;
}
.nav .close{
    position: absolute;
    top: 0;
    right: 50px;
    margin-left: 30px;
    font-size: 40px;
}
.slide a {
    position: fixed;
    font-size: 60px;
    top: 25px;
    left: 15px;
    color: black;
}
#content {
    position: absolute;
    transition: 0.7s;
    overflow-x: hidden;
    width: 100%;    
}

.quotes {
    
    font-size: larger;
    font-weight: bolder;
}
#answer, 
#answer-1,
#answer-2,
#answer-3,
#answer-4,
#answer-5,
#answer-6,
#answer-7,
#answer-8 {
    color: #D93A32;
    font-weight: bolder;
}

img {
    position: right;
    top: 0px;
    right: 0px;
}
.mytext {
    height: 40px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    font-family: 'Raleway', sans-serif;
    border: orangered;
}
.calc {
    height: 40px;
    border-radius: 15px;
    border-color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bolder;
    background-color:rgba(226, 117, 28, 0.884);

}
.calc:hover {
    background-color: rgb(32, 218, 63);
}
.calculatorcom {
    text-decoration: underline;
}
.slidecontainer {
    width: 15%;
    text-align: center;
    position:absolute; 
    margin-left: 750px;
    font-weight: bold; 
    font-size: 20px;
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #8d8b8b;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background:rgba(255, 115, 0, 0.884);
    cursor: pointer;
  }
  







